<div class="projects">

    <!-- intro panel -->
    <div class="project" id="first_project">
        <div class="text">
            <div class="title">
                ⟡ Carter Duong
                <span class="coords">37°55'31.0"N 121°45'47.9"W</span>
            </div>
            <p class="description">
            is a designer, developer and artist from the Bay Area and based in Los Angeles. He recently graduated from UC San Diego with a B.A. in Interdisciplinary Computing and the Arts.
            </p>
        </div>
        {% include canvas.html %}
    </div>

    <!-- projects -->
    {% for project in site.data.projects %}
        <div class="project">
            <div class="images">
                {% for image in project.images %}
                    <img src="{{image}}">
                {% endfor %}
            </div>
        
            <div class="text">
                <div class="title">→ {{project.title}}</div>
                {{project.date}}
                {{project.role}}
                {{project.skills}}
                <p class="description">{{project.description}}</p>
            </div>
        </div>
    {% endfor %}
</div>