@mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (max-width: 1300px) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: 1301px) and (max-width: 2300px) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: 2301px) { @content; }
    }
}

html {
    color: #F3F3F3;
    background-color: black;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

#ruler {
    position: absolute;
    visibility: hidden;
}

.fadein {
    -webkit-animation: fadein 3s;
    opacity: 1.0;
    -webkit-opacity: 1.0;
}

@-webkit-keyframes fadein {
    0% { 
        opacity: 0.0;
        -webkit-opacity: 0.0;
    }
    7% {
        opacity: 0.0;
        -webkit-opacity: 0.0;
    }
    100% { 
        opacity: 1.0;
        -webkit-opacity: 1.0;
    }
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
    -webkit-opacity: 0.5;
    text-shadow: 0px 0px 3px white;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.2;
        -webkit-opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
        -webkit-opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
        -webkit-opacity: 0.2;
    }
}

.projects-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .project {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 2vw 2vh 2vw;

        @include respond-to(handhelds) { width: 100vw; }
        @include respond-to(medium-screens) { width: 65vw; }
        @include respond-to(wide-screens) { width: 65vw; }

        &:first-child {
            height: 100vh;
        }
        
        .images {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            img {
                max-width: 65%;
                height: auto;
            
                &:not(:last-child) {
                    margin-bottom: 2vh;
                }
            }

            video {
                max-width: 70%;
                height: auto;
            
                &:not(:last-child) {
                    margin-bottom: 2vh;
                } 
             }
        }
        
        .text-container {
            margin: 2vh 2vw 2vh 2vw;

            p {
                margin: 0;
            }
            
            .project-heading {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 0.2em;
            }

            .meta-text {
                text-indent: inherit;
                margin-bottom: 0.6em;
            }

            .description-text {
                text-indent: inherit; 
            }
        }
    }
    
    .footer {
        margin-bottom: 2vh;
    }
}

#canvas-container {
    height: 100%;
    margin: 2vh 2vw 0 2vw;
}

canvas {
    margin: 0;
}

