img {
    height: 70vh;
    width: auto;
    margin: 15px 3vw 15px 3vw;
    
    .width-1 {
        height: auto;
        width: 94vw;
        margin: 15px 3vw 15px 3vw;
    }
    /*
    -webkit-filter: blur(7px);
    filter: blur(7px);
    */
}
